<% if activity.trackable %>
  <div class="activity-u">
    memperbarui transaksi
    <%= link_to activity.trackable.id, order_path(activity.trackable.id) %>
  </div>
<% else %>
 which has since been removed
<% end %>
