<p style="color: blue;">memperbarui order item</p>
<% if activity.trackable %>
 <%= link_to activity.trackable.nama, order_item_path(activity.trackable.id) %><br />
 (<%= Time.now %>)
<% else %>
 which has since been removed
<% end %>
