<% if !@order_item.nil? && @order_item.errors.any? %>
   <div class="alert alert-danger">
      <ul>
         <% @order_item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
      </ul>
  </div>
<% end %>

<% if @order_items.size == 0 %>
   <p class="text-center">
      tidak ada produk di keranjang.  Silahkan <%= link_to "kembali", root_path %> dan tambahkan produk ke keranjang anda.
   </p>
<% else %>
   <div class="container well">
      <% @order_items.each do |order_item| %>
         <%= render 'carts/cart_row', stok: order_item.stok, order_item: order_item, show_total: true %>
      <% end %>
      <%= link_to "Check Out", check_out_route_path(:cart), class: "btn btn-default"%>
   </div>
<% end %>
