<%= render 'layouts/global_nav' %>

<div class="col-md-12 col-sm-12" >

    <div class="col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <% @kategoris.each do |k| %>
              <div class="col-md-3 col-sm-3 text-center">
                <div class="panel panel-default" id="small-body">
                <div class="panel-body" id="pbody">
                  <%= link_to (image_tag k.gambar_url(:thumb)), kategori_path(k)%>
                </div>
                <div class="panel-footer"><%= k.nama %></div>
              </div>
              </div>
            <% end %>
          </div>
          </div>
      </div>
    </div>
    </div>
    <!--ini file css -->
<style>
.col-md-12 {
  padding-top:50px;
}

.panel-body #pbody{
  height: 75px;
  width: 75px;
  margin: auto;
}
#small-body:hover {
  border: 1px solid #e60000;
}
</style>
<!--ini file js-->
<script>

</script>
