<div class="container">
   <div class="row">
      <% if @kategoris.size == 0 %>
         <p class="text-center">
            Tidak ada kategori yang tersedia untuk saat ini
            <strong><%= link_to "Tambah Kategori", new_kategori_path(@kategori)%></strong>
        </p>
      <% else %>
            <div class="col-md-12 col-sm-12">
               <div class="panel panel-default">
                  <div class="panel-body">
                     <% @kategoris.each do |k| %>
                     <div class="col-md-3 col-sm-3 text-center">
                        <table class="table table-bordered">
                           <tbody>
                              <tr style="height:75px;">
                                 <td>
                                    <%= link_to (image_tag k.gambar_url(:thumb)), kategori_path(k) %>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <%= link_to (k.nama), kategori_path(k) %>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <% end %>
                  </div>
               </div>
            </div>
      <% end %>
   </div>
</div>
