<%= render 'layouts/global_nav' %>
<% if @kategoris.size == 0 %>
   <p class="text-center">
      <i>Tidak ada kategori yang tersedia untuk saat ini</i>
      <strong><%= link_to "Tambah Kategori", new_kategori_path(@kategori)%></strong>
  </p>
<% else %>
   <div class="row">
      <div class="col-md-12 col-sm-12">
         <div class="panel panel-default">
            <div class="panel-body">
               <% @kategoris.each do |k| %>
               <div class="col-md-3 text-center">
                  <table class="table table-bordered">
                     <tbody>
                        <tr style="height:75px;">
                           <td>
                              <%= image_tag k.gambar_url(:thumb)%>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <%= link_to (k.nama), kategori_path(k) %>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <% end %>
         </div>
      </div>
   </div>
<% end %>
