<p>Selamat Datang <%= @resource.email %>!</p>

<p>Seseorang meminta pergantian password. anda dapat mengganti password di link berikut</p>

<p><%= link_to 'Ganti kata sandi', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>jika anda tidak merasa mengirim permintaan ganti password abaikan email ini.</p>
<p>kata sandi anda tidak akan di ubah sampai anda mengunjungi link di atas dan mengganti kata sandi lama dengan kata sandi yang baru</p>
