<div class="container">
<h1>Aktifitas pengguna</h1>
 <table class="table table-striped table-bordered table-condensed sortable">
   <thead>
     <tr>
       <th><Aktifitas</th>
     </tr>
   </thead>
   <tbody>
        <% @activities.each do |activity| %>
     <tr>
       <td valign="top">
         <%= activity.owner.email %>
         <%= render_activity activity %>
       </td>
     </tr>
     <% end %>
   </tbody>
   <tfoot>
     <tr>
       <td colspan="3"></td>
     </tr>
   </tfoot>
 </table>

 <nav class="pagination pull-right">
   <ul class="pagination-xs">
     <nav aria-label="...">
       <ul class="pager">
         <li><%= link_to_previous_page (@activities),'Sebelumnya' %></li>
         <li><%= link_to_next_page (@activities),'Selanjutnya' %></li>
       </ul>
     </nav>
   </ul>
 </nav>
</div>
